.cambiar{
    height: 7vh;
    width: 12vw;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.nombreHeroe{
    margin-left: 9%;
    
}