<div class="seccion2">


    <h1 id="sinEliminar" class="sinEliminar" *ngIf="hide">No has eliminado a ningun heroe</h1>

    <h1 id="eliminado" *ngIf="mostrar">Has eliminado a :{{nombres[posicion-1]}}</h1>

    <button class="borrar" id="borrar" *ngIf="hideDelete" (click)="posicion = posicion+1; cambio();ocultar();ocultarDelete()"> Eliminar </button>
    <h1>{{ muestraHeroeClick()}}</h1>
    <ul>
        <li class="lista-item" (click)="muestraHeroe=returnItem(item)" *ngFor="let item of nombres|slice:posicion:nombres.length">

            <div class="elementoLista">{{item}}</div>
        </li>
    </ul>

</div>